/* -----Google Fonts ---------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

/* -------------------------------
     common styles and utilities  
     ---------------------------*/
body{
 margin: 0;
 font-family: 'Poppins', sans-serif;
}
.container{
    background-color: #2D25A0;
}
.half-width{
    width: 50%;
    margin-bottom: 86px;
}
.link-button{
    text-decoration: none;
    color: white;
    font: 16px;
    font-weight: 500;
    font-size: 16px;
    padding: 10px 20px;
    background-color: #E02C6D;
}
.link-button:hover{
    color: white;
    border: 2px solid white;
    background-color: #2D25A0;
}
.fas{
    margin-left: 8px;
}
h1{
    font-size: 64px;
    color: white;
}
h2{
    font-size: 48px;;
}

/* ---------------------------------
        Header Section Styles 
----------------------------------*/

/* header Navigation styles */

.nav{
    display: flex;
    justify-content: space-between;
    margin-left: 120px;
    margin-right: 120px;
}
.left-menu-items{
    margin-top: 20px;
}
.left-menu-items ul{
    list-style: none;
}
.left-menu-items ul li{
    display: inline-block;
}
.left-menu-items ul li a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    margin-right: 36px;
}
.left-menu-items ul li a:hover{
    color: #E02C6D;
}
.right-menu-items{
    margin-top: 42px;
}

/* ---------------------
  header banner styles 
  --------------------*/

.header-banner{
    display: flex;
    margin-bottom: 70px;
}
.banner-text{
    margin-left: 156px;
    margin-right: 80px;
}
.banner-image{
    width: 556.01px;
    height: 438px;
    margin-top: 67px;
    margin-right: 137px;
}
.banner-image:hover{
    transform: scale(1.1);
    transition: transform 1.2s ease-in-out;
}

/*---------------------------- 
     article section styles
     ---------------------- */

.articles{
    margin: 0 auto;
    width: 1050px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 27px;
    grid-row-gap: 30px;
 }
 .article{
    width: 330px;
    height: 500px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    position: relative;
 }
.article img{
    width: 300px;
    height: 256px;
    padding: 4%;
}
.article img:hover{
    transition: 2s ease-in-out;
    transform: scale(1.2);
}

.article-detail{
    padding: 4%;
    margin-top: 0;
    margin-bottom: 0;
}


/* -----------------------------
     Highlight Section Styles 
     -------------------------*/
.highlight{
    display: flex;
    margin-top: 165px;
    margin-bottom: 100px;
}
.hightlight-image{
    width: 567px;
    height: 427px;
    margin-right: 137px;
}
.hightlight-left{
    margin-left: 156px;
    margin-right: 80px;
}

/*------------------------------
   photo album section styles 
   ---------------------------*/
.photo-album{
   margin-bottom: 100px;
}
#photo-album{
    color: black;
    text-align: center;
}
.photos{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-row-gap: 15px;
    grid-column-gap: 20px;
    text-align: center;
    padding: 2%;
}
.photo{
    overflow: hidden;
    position: relative;
}
.photo img{
    width: 255px;
    height: 224px;
}
.photo img:hover{
    transition: 2s ease-in-out;
    transform: scale(1.5);
}

/* --------------------------
     footer section styles 
     ----------------------*/

     /* our parters section styles */
.our-partners{
    background-color: rgb(230, 230, 230);
}
#our-partners{
    color: black;
    text-align: center;
    padding-top: 50px;
}
/* .partners{
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
} */
.partners{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin-bottom: 60px;
    text-align: center;
}
.partner img{
    width: 142px;
    height: 142px;
    padding-bottom: 60px;
}

     /* footer logo, social icons and copyright section styles */
.footer{
    width: 483.87px;
    margin: 0 auto;
    text-align: center;
}
.footer-logo img{
    height: 68px;
}
.footer-logo{
    margin-bottom: 20px;
}
.social-icons i{
    margin-bottom: 10px;
    margin-right: 14px;
    padding: 5px;
    background-color: rgba(128, 128, 128, 0.596);
    border-radius: 50px;
}

/*-----------------------
       Media Queries 
-----------------------*/

/* Mobile Devices */
@media only screen and (max-width: 688px) {
    h1 {
        font-size: 40px;
    }
    .container{
        width: 100%;
    }
    .nav{
        width: 100%;
        display: inline-block;
        margin: 0;
        justify-content: space-evenly;
    }
    #link-button{
        margin-left: 12%;
    }
    .header-banner{
        display: block;
    }
    .half-width{
       width: 100%;
    }
    .banner-text {
        margin-left: 15px;
        margin-right: 15px;
    }
    .banner-image{
        height: 300px;
        width: 345px;
        margin-left: 2%;
    }

    .articles, .photos{
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        margin-left: 4%;
    }
    .highlight{
        width: 100%;
        flex-direction: column;
        grid-template-columns: repeat(1, 1fr);
    }
    .hightlight-left{
        margin: 0;
        padding-right: 5%;
        padding-left: 1%;
        padding-bottom: 10%;
    }
    .hightlight-image{
        height: 240px;
        width: 100%;
        margin-left: 3%;
        margin-top: 10%;
    }

/* ---------------------------
    partners section styles 
    ------------------------*/

    .partners{
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
    }
    .partner img{
        padding-bottom: 0;
    }
    footer{
        width: 100%;
        text-align: center;
    }
}

/* Tablet devices */

@media only screen and (min-width: 688px) and (max-width: 992px) {
    .container{
        width: 100%;
    }
    .nav{
        width: 100%;
        display: flex;
        margin: 0;
        justify-content: space-between;
    }
    #link-button{
        margin-left: 0;
    }
    .header-banner{
        
    }
    .half-width{
       width: 100%;
    }
    .banner-text {
        margin-left: 10px;
        margin-right: 10px;
    }
    .banner-image{
        height: 300px;
        width: 345px;
    }
    .articles, .photos{
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        margin-left: 4%;
    }
    .hightlight-left{
        margin: 0;
        padding-right: 5%;
        padding-left: 5%;
        padding-bottom: 10%;
    }
    .hightlight-image{
        height: 240px;
        width: 100%;
        padding-right: 5%;
        margin-top: 20%;
    }
    .partners{
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
    }
    .partner img{
        padding-bottom: 0;
    }
    footer{
        width: 100%;
        text-align: center;
    }
}